<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="bg-dark text-white">
<div class="container mt-4">
    <h1>Hello, guest!</h1>
    <h2>This is a simple clone off Twitter</h2>
    <div class="row">
        <div class="col-2">
            <a class="btn btn-outline-success" role="button" th:href="@{/login}">Login</a>
        </div>
        <div class="col-4">
            <h5>Already Registered? <a role="link" th:href="@{/registration}">Sign in</a>
            </h5>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>