<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
</head>
<body class="bg-dark text-white">
<div class="container mt-5">
    <div class="row justify-content-center align-self-center">
        <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input aria-describedby="basic-addon1" aria-label="Username" class="form-control" id="username"
                           name="username"
                           placeholder="Username" required="true" type="email">
                </div>
                <div class="form-group">
                    <input aria-describedby="basic-addon1" aria-label="Password" class="form-control" id="password"
                           name="password"
                           placeholder="Password" required="true" type="password">
                </div>
                <div><input type="submit" class="btn btn-outline-success" value="Sign In"/></div>
            <div>
                <h5>if you not registered? <a role="link" th:href="@{/registration}">Sign up</a></h5>
            </div>
        </form>
    </div>
</div>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>