<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
</head>
<body class="bg-dark text-white">
<div class="container mt-5 col-2">
    <div class="col-12 alert alert-danger" th:text="${error}"></div>
    <div class="row justify-content-center align-self-center">
        <form th:action="@{/registration}" method="post">
            <div class="input-group mb-1 ">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input aria-describedby="basic-addon1" aria-label="Username" class="form-control" id="username"
                       name="username"
                       placeholder="Username" required="true" type="email">
            </div>
            <div class="form-group mb-1">
                <input aria-describedby="basic-addon1" aria-label="Password" class="form-control" id="password"
                       name="password"
                       placeholder="Password" required="true" type="password">
            </div>
            <div><input type="submit" class="btn btn-outline-success" value="Sign Up"/></div>
            <div>
                <h5>Are you registered? <a role="link" th:href="@{/login}">Sign in</a></h5>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>