<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User editor</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
</head>
<body class="bg-dark text-white">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" th:href="@{https://github.com/Alexandr-Tsiulkin/Sweatter}">Sweatter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/home-admin}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/users}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/messages}">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/profile}">Profile</a>
        </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav align-items-end">
            <li class="nav-item">
                <span class="navbar-text" th:text="${#authentication.name}"></span>
                <a class="btn btn-outline-success" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<form th:action="@{/users}" method="post" class="row-form" th:object="${editUserDTO}">
    <div class="form-group col-md-3 me-3 mt-3 has-validation">
        <input type="hidden" name="id" class="form-control" th:value="${user.id}">
        <input type="text" name="username" class="form-control" th:value="${user.username}" th:field="*{username}">
    </div>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <div class="form-group col-md-3 me-0 mt-3">
        <div th:each="role : ${roles}" class="form-check">
            <div th:each="roleInUser : ${user.roles}">
                <input class="form-check-input" type="checkbox" name="roleNames" th:value="${role}"
                       th:text="${role.name()}"
                       th:if="${roleInUser.roleName.equals(role.name())}" checked/>
                <input class="form-check-input" type="checkbox" name="roleNames" th:value="${role}"
                       th:text="${role.name()}"
                       th:unless="${roleInUser.roleName.equals(role.name())}"/>
            </div>
        </div>
    </div>
    <div class="form-group me-3 mt-3">
        <button class="btn btn-outline-success" type="submit">save</button>
    </div>
</form>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>